@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Wine App</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Hjem
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin,WineProducer">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="wines">
                        <span class="oi oi-list" aria-hidden="true"></span> Viner
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Admin,Judge">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="wineratings">
                        <span class="oi oi-star" aria-hidden="true"></span> Vurderinger
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="reports">
                        <span class="oi oi-bar-chart" aria-hidden="true"></span> Rapporter
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Admin,WineProducer">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="wineproducers">
                        <span class="oi oi-briefcase" aria-hidden="true"></span> Vinprodusenter
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="judges">
                        <span class="oi oi-people" aria-hidden="true"></span> Dommere
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>

    <div class="nav-bottom px-3">
        <AuthorizeView>
            <Authorized>
                <button class="btn btn-outline-light w-100" @onclick="Logout" @onclick:stopPropagation="true">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Logg ut (@context.User.Identity?.Name)
                </button>
            </Authorized>
            <NotAuthorized>
                <a href="Account/Login" class="btn btn-outline-light w-100" @onclick:stopPropagation="true">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Logg inn
                </a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void Logout() => NavigationManager.NavigateTo("/Account/Logout", forceLoad: true);
}
