@{
    ViewBag.Title = "Landings-siden";
}

<div class="jumbotron">
    <h1>Vindruedyrkernes app</h1>
    <p class="lead">Noe tekst her som virker fornuftig?</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Kort sak 1</h2>
        <p>
           Noe tekst her
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kort sak 2</h2>
        <p>Mer tekst.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kort sak 3</h2>
        <p>Og litt her.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>