@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace WineApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="WineApp.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="Server" />
</head>
<body>
    <component type="typeof(App)" render-mode="Server" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            Det har oppstått en feil. Applikasjonen svarer kanskje ikke lenger. Last inn siden på nytt.
        </environment>
        <environment include="Development">
            Et uhåndtert unntak har oppstått. Se nettleserens utviklerverktøy for detaljer.
        </environment>
        <a href="" class="reload">Last inn på nytt</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="js/site.js"></script>
</body>
</html>
